@media screen and (max-width: 540px) {
    header{
        padding: 1em;
    }

    main{
        padding: 0 0.5em;
    }

    div.content-popup{
        padding: 1.2em 0.8em 1em;
        width: 85vw;
    }

    section#inputContainer{
        padding: 1.2em 0em 0;
        display: grid;
        grid-template-columns: 0em 1fr 3em 0em;
        grid-template-rows: max-content max-content;
        grid-template-areas: 
            ". textInput sendButton ."
            "voiceInputButton voiceInputButton voiceInputButton voiceInputButton";
    }

    button#voiceInputButton{
        grid-area: voiceInputButton;
        border-radius: 0;
        border-top-left-radius: 10% 100%;
        border-top-right-radius: 10% 100%;
        width: 100%;
        height: 3em;
    }

    @keyframes cycleSize {
        0% {
            transform: scale(1.0);
        }
        50% {
            transform: scale(1.02);
        }
        100%{
            transform: scale(1.04);
        }
    }

    button#voiceInputButton svg{
        width: 1.8em;
        height: auto;
        top: 0;
        right: 0;
    }

    div#middleInputContainer{
        grid-area: textInput;
    }

    button#sendButton{
        justify-self: start;
        margin-right: 1em;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        grid-area: sendButton;
        width: 100%;
    }

    button#sendButton svg{
        width: 2em;
        height: auto;
        top: 0;
        left: 0;
    }

    div#informationPopUp iframe{
        width: 76vw;
        height: 42.75vw;
        margin: auto;
        margin-top: 1em;
        display: block;
    }
}